

<% layout('partials/boilerplate') %>

<div class="container" style="margin: 50px 0 50px 0;">
	<div class="row" >
		<div class="col-md-5">

			<h1 class="secondary-color style-font" style="padding: 50px 0px 25px;font-size:48px;">
				<i class="fas fa-compass"></i>ZIP INFORMATION FOR <%= zip %>
			</h1>
		</div>
		<div class="col-md-7">
			<image height="300px" width="80%"src="https://cdn.shopify.com/s/files/1/1728/6405/products/nnycmap_1280x1280.jpg?v=1610594940">
		</div>
	<div>
</div>
<div class="container">
  <div class="row">
	  <div class="col-md-12">

<!-- restaurants table -->
          <h1 class="primary-color">Restaurant Information</h1>
		  <table class="table primary-color">
		  <thead>
		    <tr>
              <th scope="col">Restaurant Property</th>
		      <th scope="col">Value</th>
		    </tr>
		  </thead>
		  <tbody>
			<% restaurantsInZip.forEach(function(dataObject){ %>
            <tr>
                <td>Image</td>
                <td><img height="300px" width="400px" src="<%= dataObject.imageurl %>"></td>
            </tr>

		    <tr>
              <td>Name</td>
		      <td><%= dataObject.name %></td>
		    </tr>
            <tr>
              <td>Category</td>

		      <td><%= dataObject.cat1 %></td>
		    </tr>
            <tr>
              <td>Rating</td>
		      <td><%= dataObject.rating %></td>
		    </tr>
            <tr>
            <td>Latitude</td>

		      <td><%= dataObject.lat %></td>
		    </tr>
            <tr>
                <td>Longitude</td>

		      <td><%= dataObject.lon %></td>
		    </tr>
            <tr>
                <td>Address</td>

		      <td><%= dataObject.address1 %></td>
		    </tr>
            <tr>
                <td>City, Zip</td>

		      <td><%= dataObject.city %>, <%= dataObject.zip %></td>
		    </tr>
            <tr>
                <td>Country, State</td>

		      <td><%= dataObject.country %>, <%= dataObject.state %></td>
		    </tr>

			<tr>
                <td>Website</td>
                <td><a href="<%= dataObject.url %>">Link</a></td>
            </tr>
			<% }); %>

            <tr>
              <td>Median income for zip</td>
              <td><%= medianIncomeInZip[0].median_income_2019 %></td>
            </tr>


		  </tbody>
		</table>

<!-- violations table -->
        <h1 class="primary-color">Violations for <%= zip %></h1>
            <table class="table primary-color">
                <thead>
                    <tr>
                        <td>Violation Code</td>
                        <td>Violation Description</td>
                        <td>Number of Violations</td>
                    </tr>
                </thead>
                <tbody>
                    <% violationsInZip.forEach(function(dataObject){ %>

                    <tr>
                        <td><%= dataObject.violationcode %></td>
                        <td><%= dataObject.violationdescription %></td>
                        <td><%= dataObject.num_violation %></td>
                    </tr>
                    <% }); %>

                <tbody>
            </table>







      </div>
	  <!-- <div class="col-md-4 secondary-color">
		  <h2>Summary</h2>

	  </div> -->
  </div>
</div>
